<body background="assets/images/7.jpg">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-8"></div>
    <div class="card col-lg-4 mx-auto col-md-4 col-sm-12 mt-1 mb-1">
        <div class="card-body mx-4">
            <div class="text-center">
                <h3 class="dark-grey-text mb-5">
                    <strong>Sign Up</strong>
                </h3>
            </div>
            <div class="md-form md-outline">
                <input mdbInput mdbValidate type="text" id="username" class="form-control" formControlName="nameInput" [(ngModel)]="logindetails.username" required pattern="[A-Za-z\_]{5,25}">
                <label for="name">Name </label>
                <mdb-error *ngIf="nameInput.invalid && (nameInput.dirty ||nameInput.touched)"> </mdb-error>
                <mdb-success *ngIf="nameInput.valid && (nameInput.dirty ||nameInput.touched)"></mdb-success>
            </div>
            <div class="md-form md-outline">
                <input mdbInput mdbValidate name="email" type="email" id="email" class="form-control" formControlName="emailInput" [(ngModel)]="logindetails.email" required pattern="[a-zA-Z0-9\.]+@[a-zA-Z]+\.[a-zA-Z]{2,3}">
                <label for="email">Email </label>
                <mdb-error *ngIf="emailInput.invalid && (emailInput.dirty ||emailInput.touched)"></mdb-error>
                <mdb-success *ngIf="emailInput.valid && (emailInput.dirty ||emailInput.touched)"></mdb-success>
            </div>
            <div class="md-form md-outline">
                <input mdbInput mdbValidate name="passwordInput" id="passwordInput" type="password" class="form-control" formControlName="passwordInput" [(ngModel)]="logindetails.password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
                <label for="password">Password </label>
                <mdb-error *ngIf="passwordInput.invalid && (passwordInput.dirty ||passwordInput.touched)">Password must contain atleast one uppercase and a digit</mdb-error>
                <mdb-success *ngIf="passwordInput.valid && (passwordInput.dirty ||passwordInput.touched)"></mdb-success>
            </div>
            <div class="md-form md-outline pb-3">
                <input mdbInput name="repasswordInput" id="repasswordInput" type="password" class="form-control" formControlName="repasswordInput" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
                <label for="repassword">Re-enter Password </label>
                <mdb-error *ngIf="repasswordInput.touched && passwordInput.value!=repasswordInput.value">Password not matched</mdb-error>
            </div>
            <div class="text-center mb-3">
                <button type="submit"  [disabled]='nameInput.invalid || emailInput.invalid || passwordInput.invalid || passwordInput.value!=repasswordInput.value' class="btn ripe-malinka-gradient btn-block rounded z-depth-1a waves-effect waves-light text-white">Sign up</button>
            </div>
        </div>
        <div class="modal-footer mx-5 pt-2 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Already a member?
                <a routerLink="/login" class="blue-text ml-1"> Log In</a>
            </p>
        </div>
        </div>
    </div>
</form>
</body>
